body {
  background: grey;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  margin: 10% 0 0 0;
}

.score-frame {
  background-color: white;
  border: 3px solid black;
  position: absolute;
  margin: 0 10%;
  width: 1000px;
  height: 20px;
}

.time-frame {
  background-color: white;
  border: 3px solid black;
  position: absolute;
  margin: 0 30%;
  width: 500px;
  height: 50px;
}

.time {
  display: none;
}

.start-menu {
  width: 1000px;
  height: 600px;
  background-color: rgba(256, 256, 256, .5);
  border: 3px solid black;
  margin: 0 10%;
  position: absolute;
}

#winner {
  display: none;
  float: both;
  background-color: white;
  border: 3px solid black;
  position: absolute;
  left: 46%;
  top: 40%;
  padding: 5px;
}

#gameDiv {
  margin: 0 auto;
  border: 3px solid black;
}

canvas {   
  display: block;   
  margin: auto;
}
